In [1]:
import pandas as pd

In [82]:
routes = pd.read_csv('~/Downloads/TestSector - Sheet1-4.csv')

In [83]:
routes

             name grade  len  bolts  author  year  info
0  Поворот судьбы    6c   34     14     NaN   NaN   NaN
1         Философ    6b   15      8     NaN   NaN   NaN
2          Геккон   6a+   10      3     NaN   NaN   NaN
3          Крошка    5c    8      1     NaN   NaN   NaN
4          Химера    5b   35     15     NaN   NaN   NaN

In [31]:
column_names_lut = {'nam':'name', 'имя':'name', 'назв':'name', 
                'gra':'grade', 'cat':'grade', 'кат':'grade', 'сложн':'grade', 
                'len':'length', 'длин':'length', 'метр':'length', 'meter': 'length', 
                'bol':'bolts', 'тс':'bolts', 'точ': 'bolts', 'оття':'bolts', 'anch': 'bolts',
                'auth':'author', 'авт':'author', 'bolter':'author', 'болтер':'author',
                'year':'year' , 'yr':'year', 'date': 'year', 'created': 'year', 'год': 'year', 'дата':'year', 'созд': 'year',
                'inf':'info', 'commen': 'info', 'text':'info', 'detail': 'info', 'инф':'info', 'коммен':'info', 'текст':'info'}

In [32]:
column_names = ['name', 'grade', 'len', 'bolts', 'author', 'year', 'info']

In [40]:
new_names = []
for i, col in enumerate(routes.columns):
    if col in column_names_lut.keys():
        for key in column_names_lut.keys():
            if col in key:
                new_names.append(column_names_lut[key])
    else:
        new_names.append(column_names[i])
new_names

['name', 'grade', 'length', 'bolts', 'author', 'year', 'info']

In [41]:
routes.columns = new_names

In [42]:
routes

         name   grade  length  bolts  author  year  info
0  RouteNAme1  6a+/7a      34     14     NaN   NaN   NaN
1       Name2      6b      15      8     NaN   NaN   NaN
2   Blablabla     7c+      10      3     NaN   NaN   NaN
3      Noname      9a       8      1     NaN   NaN   NaN
4  SimplyName      5a      35     15     NaN   NaN   NaN

In [76]:
pd.isna(routes.loc[0]['year'])

True

In [80]:
for i, row in routes.iterrows():
    print(row['name'])

RouteNAme1
Name2
Blablabla
Noname
SimplyName

In [81]:
routes.shape[1]

7

In [84]:
routes.loc[0]['name']

'Поворот судьбы'

In [85]:
routes.columns.lower()

AttributeError: 'Index' object has no attribute 'lower'